html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* nomrally 100% is 16 px, want size to be 10 px which is 62.5% */
  background-color: rgb(247, 161, 211);
  font-family: "Manrope", sans-serif;
}
.title {
  display: flex;
  text-align: center;
  justify-content: space-around;
  color: white;
  font-size: 5rem;
}
.subtext {
  color: rgb(250, 217, 232);
  text-align: center;
  font-size: 3rem;
}

.default {
  display: flex;
  border-radius: 15px;
  font-size: 3rem;
  width: 35rem;
  background-color: rgb(217, 141, 247);
  margin-bottom: 3rem;
  margin: 1rem;
  flex-direction: row;
  border-width: 3px;
  text-align: center;
  justify-content: center;
  justify-content: space-between 1rem;
  box-shadow: rgb(216, 80, 164);
}

.img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  block-size: 300px;
}

.child {
  font-size: 1rem;
  width: 28%;
}
/* .px-size {
  font-size: 10px;
}
.rem-size {
  font-size: 1rem;
}
.em-size {
  font-size: 1em;
}
 */
