html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: rgb(2, 131, 77);
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.title {
  text-align: center;
  color: rgb(245, 255, 247);
  font-size: 5rem;
}

.subtext {
  color: rgb(208, 246, 219);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2vh;
}

.default {
  border-radius: 15px;
  font-size: 3rem;
  width: 16em;
  background-color: rgba(33, 105, 71, 0.64);
  border-width: 5px;
  border-color: rgb(188, 246, 203);
  text-align: center;
  box-shadow: rgb(0, 0, 0);
  margin-bottom: 2vh;
  padding-bottom: 2vh;
}

.img {
  border-radius: 15px;
  width: 90%;
  padding-top: 10px;
  margin: auto;
  display: block;
}

.coldnights:hover {
  animation: bounce;
  animation-timing-function: ease;
  animation: bounce 2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.coldnight.img {
  transition: 0.25s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.link {
  height: min-content;
  color: aliceblue;
  font-size: 2rem;
}

.child {
  font-size: 1rem;
  width: 28%;
}
